# **Patterns**

In [ ]:
def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)
fact(5)

120

In [ ]:
for i in range(4):
  for j in range(4):
    print("*",end='')
  print()

****
****
****
****

In [ ]:
for i in range(4):
  for j in range(0,i+1):
    print("*",end='')
  print()

*
**
***
****

In [ ]:
for i in  range(4):
  print(i*('*'),end='')
  print()

*
**
***

In [ ]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end='')
  print()

1
22
333
4444

In [ ]:
for i in range(4):
  for j in range(4-i):
    print("*",end='')
  print()

****
***
**
*

In [ ]:
for i in range(4):
  print((4-i)*'*',end='')
  print()

****
***
**
*

In [ ]:
def Print(n):
  for i in range(n):
    for j in range(n-i):
      print("*",end='')
    print()
Print(5)

*****
****
***
**
*

In [ ]:
for i in range(5):
    for j in range(1,5-i):
      print(j,end='')
    print()

1234
123
12
1

In [ ]:
for i in range(5):
  for j in range(5-i-1):
    print(" ",end='')
  for k in range(2*i+1):
    print('*',end='')
  for l in range(5-i-1):
    print(" ",end='')
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
    print((5-i-1)*" ",(2*i+1)*"*",end='')
    print()

     *
    ***
   *****
  *******
 *********

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i):
    print(' ',end='')
  for k in range(2*(n-i)-1):
    print('*',end='')
  for l in range(i):
    print(" ",end='')
  print()

5
*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(4):
  print(i*(' '),(2*(4-i)-1)*("*"),i*(' '),end='')
  print()

 *******
  *****
   ***
    *

In [ ]:
n=int(input())
for i in range(n):
  print((n-i-1)*(" "),(2*i+1)*("*"),(n-i-1)*(" "),end='')
  print()
for j in range(1,n):
  print(j*(" "),((2*(n-j)-1))*("*"),j*(" "),end='')
  print()

5
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(i*('*'),end='')
  print()
for j in range(1,n+1):
  print((n-j)*('*'),end='')
  print()

5
*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input())
for i in range(1,2*n+1):
  if i<=n:
    print(i*('*'),end='')
    print()
  else:
    print((2*n-i)*('*'),end='')
    print()

5
*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input())
start=1
for i in range(n):
  if i%2==0:
    start=start
  else:
    start=1-start
  for j in range(i+1):
    print(start, end=' ')
    start = 1 if start==0 else 0
  start = 1
  print()

5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [ ]:

n=int(input())
start=1
for i in range(n):
  if i%2==0:
    start=start
  else:
    start=1-start
  for j in range(i+1):
    print(start,end='')
    start=1-start
  start=1

  print()

5
1
01
101
0101
10101

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i,i+1):
    print(2*(n-i)*(' '),end='')
  for l in range(0,i):
    print(i-l,end='')
  print()

5
1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i,i+1):
    print(2*(n-i)*(' '),end='')
 # Use negative index in range function
  for j in range(i,0,-1):
    print(j,end='')
  print()

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i,i+1):
    print(2*(n-i)*(' '),end='')
  for l in range(1,i+1):
    print(l,end='')
  print()

5
1        1
12      12
123    123
1234  1234
1234512345

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(i,2*i):
    print(j,end='')
  print()

4
1
23
345
4567

In [ ]:
n=int(input())
num=1
for i in range(1,n+1):
  for j in range(i):
    print(num,end=' ')
    num=num+1
  print()

4
1
2 3
4 5 6
7 8 9 10

In [ ]:
n=int(input())
for i in range(97,97+n):
  print(chr(i).upper())

4
A
B
C
D

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print(chr(97+j).upper(),end='')
  print()

5
A
AB
ABC
ABCD
ABCDE

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i):
    print(chr(97+j).upper(),end='')
  print()

5
ABCDE
ABCD
ABC
AB
A

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i,0,-1):
    print(chr(97+j-1).upper(),end='')
  print()

5
EDCBA
DCBA
CBA
BA
A

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print(chr(97+i).upper(),end='')
  print()

5
A
BB
CCC
DDDD
EEEEE

In [ ]:
n=int(input())
for i in range(n):
  print((n-i)*(' '),end='')
  for j in range(i):
    print(chr(97+j).upper(),end='')
  for l in range(i,-1,-1):
    print(chr(97+l).upper(),end='')

  print()

5
     A
    ABA
   ABCBA
  ABCDCBA
 ABCDEDCBA

In [ ]:
n=int(input())
for i in range(n+1):
  for j in range(i):
    print(chr(97+(n-i)).upper(),end='')
    i=i-1
  print()

5

E
DE
CDE
BCDE
ABCDE

In [ ]:
n=int(input())
for i in range(n+1):
  print((i)*('*'),2*(n-i)*(' '),(i)*('*'),end='')
  print()

5

*          *
**        **
***      ***
****    ****
*****  *****

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end='')
  for k in range(i):
    print(2*(n-i)*(" "),end='')
    break
  for l in range(i):
    print(('*'),end='')
  print()

5
*        *
**      **
***    ***
****  ****
**********

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n,i,-1):
    print('*',end='')
  for k in range(i,i+1):
    print(2*i*(' '),end='')
  for l in range(n,i,-1):
    print('*',end='')
  print()

5
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n=int(input())
for i in range(n):
  print((n-i)*('*'),2*i*(' '),(n-i)*('*'),end='')
  print()

5
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
n=int(input())
for i in range(n):
  print((n-i)*('*'),2*i*(' '),(n-i)*('*'),end='')
  print()
for i in range(n+1):
  print((i)*('*'),2*(n-i)*(' '),(i)*('*'),end='')
  print()

5
*****  *****
****    ****
***      ***
**        **
*          *

*          *
**        **
***      ***
****    ****
*****  *****

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i,0,-1):
    print('*',end='')
  for k in range(2*i):
    print(' ',end='')
  for l in range(n-i,0,-1):
    print('*',end='')
  print()
for i in range(n+1):
  for j in range(i):
    print('*',end='')
  for k in range(2*(n-i)):
    print(' ',end='')
  for l in range(i):
    print('*',end='')
  print()

5
**********
****  ****
***    ***
**      **
*        *

*        *
**      **
***    ***
****  ****
**********

In [ ]:
n=int(input())
for i in range(n+1):
  print((i)*('*'),2*(n-i)*(' '),(i)*('*'),end='')
  print()
for i in range(n):
  print((n-i)*('*'),2*i*(' '),(n-i)*('*'),end='')
  print()

5

*          *
**        **
***      ***
****    ****
*****  *****
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i):
    print('*',end='')
  for k in range(2*(n-i)):
    print(' ',end='')
  for l in range(i):
    print('*',end='')
  print()
for i in range(n):
  for j in range(n-i,0,-1):
    print('*',end='')
  for k in range(2*i):
    print(' ',end='')
  for l in range(n-i,0,-1):
    print('*',end='')
  print()

5

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n=int(input())
for i in range(n):
 for j in range(n):
  if (i==0 or i==n-1 or j==0 or j==n-1):
    print("*",end='')
  else:
    print(" ",end='')
 print()

4
****
*  *
*  *
****